ItemsWeb/Service References/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:62732/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:62732/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:62732/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ItemsWCF" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertCategories_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertCategories" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertCategories_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertCategoriesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteCategories_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCategories" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteCategories_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCategoriesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertItems_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertItems" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertItems_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertItemsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertPrices_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertPrices" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertPrices_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertPricesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllCategories_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCategories" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllCategories_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCategoriesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllItems_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllItems" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllItems_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllItemsResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetData" message="tns:IService1_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataResponse" message="tns:IService1_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContract" message="tns:IService1_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContractResponse" message="tns:IService1_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertCategories">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/InsertCategories" message="tns:IService1_InsertCategories_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/InsertCategoriesResponse" message="tns:IService1_InsertCategories_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCategories">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteCategories" message="tns:IService1_DeleteCategories_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteCategoriesResponse" message="tns:IService1_DeleteCategories_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertItems">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/InsertItems" message="tns:IService1_InsertItems_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/InsertItemsResponse" message="tns:IService1_InsertItems_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertPrices">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/InsertPrices" message="tns:IService1_InsertPrices_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/InsertPricesResponse" message="tns:IService1_InsertPrices_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllCategories">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllCategories" message="tns:IService1_GetAllCategories_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllCategoriesResponse" message="tns:IService1_GetAllCategories_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllItems">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllItems" message="tns:IService1_GetAllItems_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllItemsResponse" message="tns:IService1_GetAllItems_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="Service1" />
</wsdl:definitions>