ItemsWeb/Service References/ServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ItemsWCF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ItemsWCF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
  <xs:complexType name="Categories">
    <xs:sequence>
      <xs:element minOccurs="0" name="Category_image" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Category_nameAr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Category_nameEn" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Categories" nillable="true" type="tns:Categories" />
  <xs:complexType name="Items">
    <xs:sequence>
      <xs:element minOccurs="0" name="Category_id" type="xs:int" />
      <xs:element minOccurs="0" name="Item_description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Item_image" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Item_nameAr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Item_nameEn" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Items" nillable="true" type="tns:Items" />
  <xs:complexType name="Prices">
    <xs:sequence>
      <xs:element minOccurs="0" name="Item_id" type="xs:int" />
      <xs:element minOccurs="0" name="Item_price" type="xs:decimal" />
      <xs:element minOccurs="0" name="Item_size" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Prices" nillable="true" type="tns:Prices" />
  <xs:complexType name="ArrayOfCategory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Category" nillable="true" type="tns:Category" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCategory" nillable="true" type="tns:ArrayOfCategory" />
  <xs:complexType name="Category">
    <xs:sequence>
      <xs:element minOccurs="0" name="category_image" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="category_nameAr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="category_nameEn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Category" nillable="true" type="tns:Category" />
  <xs:complexType name="ArrayOfItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Item" nillable="true" type="tns:Item" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfItem" nillable="true" type="tns:ArrayOfItem" />
  <xs:complexType name="Item">
    <xs:sequence>
      <xs:element minOccurs="0" name="category_id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="item_descrption" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="item_image" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="item_nameAr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="item_nameEn" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Item" nillable="true" type="tns:Item" />
</xs:schema>